{% extends "layout.html" %}    <!-- これで元になるHTML(laytout.html)を指定 -->

{% block body %}    <!-- layout.htmlのbodyというブロックを以下で置き換える -->

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <h1 style="margin-top: 0.5%; margin-bottom: 0%; font-size: 150%;"> <a href="/localdb/"
            style="color:rgba(0, 0, 0, 0.648);;">Top Page</a> > Check a mail sending function </h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <h1><font color=#000080><i class="fa fa-check-circle"></i> Check a mail sending function</font></h1>
      </div>
    </div>
  </div>

  {% if stage == "request" %}
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col">
          <h3>The test mail was sent from the server.</h3>
          <h3>Please check your email box if the test mail has been arrived.</h3>
        </div>
      </div>
    </div>
  {% else %}

    <div class="container">

      <h3>Input your Email address</h3><br>
      <form class="form-holizontal" role="form" method="post" action="check_mail" accept-charset="UTF-8">
        <div class="form-group row">
       	  <label class="col-form-label col-md-3" for="name">Email Address<font color=#ff0000>*</font></label>
          <div class="col-md-9">
       	      <input type="text" class="form-control" value="{{ userInfo[0] }}" placeholder="Input an email address" name="userinfo" id="name" required="required">
       	  </div>
       	</div>

        <div class="form-group row">
          <label class="col-form-label col-md-3"></label>
          <div class="col-md-9">
          {% if stage == "input" %}
            <button type="submit" class="btn btn-primary" name="stage" value="request">Sending a test mail</button>
          {% endif %}
          </div>
        </div>
      </form>

    </div>
  {% endif %}
<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col">
      <a href="/localdb/">Back to Top Page</a>
    </div>
  </div>
</div>

<br>
{% endblock %}
