<div class="col">
  <table class="table table-sm table-bordered" style="font-size: 8pt;">
     {% if component['comments'] or session['logged_in']%}
       <h4 style="font-size: 13pt;"><i class="fa fa-cog"></i> Comments</h4>
       <thead class="table-light">
           <tr>
             <th scope="col" width="50%" class="text-left">Comment</th>
             <th scope="col" width="10%" class="text-left">componentType</th>
             <th scope="col" width="15%" class="text-left">Name</th>
             <th scope="col" width="15%" class="text-left">Institution</th>
             <th scope="col" width="10%" class="text-left">Date</th>
           </tr>
       </thead>
     {% endif %}

     <tbody>
       {% if component['comments'] %}
         {% for comment in component['comments'] %}
           <tr>
             <th scope="col" class="text-left"><h4 style="font-size: 8pt;">{{ comment['comment'] | safe }}</h4></th>
             <th scope="col" class="text-left"><h4 style="font-size: 8pt;"></h4>{{ comment['componentType'] }}</th>
             <th scope="col" class="text-left"><h4 style="font-size: 8pt;">{{ comment['name'] }}</h4></th>
             <th scope="col" class="text-left"><h4 style="font-size: 8pt;">{{ comment['institution'] }}</h4></th>
             <th scope="col" class="text-left"><h4 style="font-size: 8pt;">{{ comment['datetime'] }}</h4></th>
           </tr>
         {% endfor %}
       {% endif %}

       {% if session['logged_in'] %}
         <tr>
           <form action="{{ url_for('component_api.edit_comment', id=component['_id'], collection=component['collection'], runId=session['runId']) }}" method="post" enctype="multipart/form-data">
             <td scope="col" align="center" colspan="2"><textarea required="required" class="form-control input-normal" placeholder="comment" name = "text"></textarea></td>
             <td scope="col" align="center" colspan="1"><input type="text" required="required" class="form-control input-normal" value = "{{ session['fullname'] }}" placeholder="name" name = "text2"></td>
             <td scope="col" align="center" colspan="1"><input type="text" required="required" class="form-control input-normal" value = "{{ session['institution'] }}" placeholder="institution" name = "text3"></td>
             <td scope="col" align="center middle" >
         	    <input type="hidden" value="{{ session['user_name'] }}" name="user">
               {{ session['user_name'] }}
               <input type="hidden" name="id" value={{ component['_id'] }} >
               <input type="hidden" name="type" value={{ component['type'] }} >
               <p><input type = "submit" value = "submit" style="font-size: 10pt;"></p>
             </td>
           </form>
         </tr>
       {% endif %}
     </tbody>
  </table>
</div>
