<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col">

      {% for scan in component['qctest']["results"]["plots"] %}
        <h2 style="font-size: 20pt;"><i class="fa fa-caret-right"></i> {{ scan }}
          {% if not component['qctest']["results"]["plots"][scan]["rootsw"] %}
          <font color=#ff0000>### NO PLOTTING SOFTWARE ###</font>
          {% endif %}
        </h2>

        <div class="row align-items-center justify-content-flex-start">
          <div class="col">
          {% for result in component['qctest']["results"]["plots"][scan]["results"] %}
              <h4 style="font-size: 10pt;">
                <i class="fa fa-caret-right"></i> {{ result["mapType"] }}
                <a href="/localdb/plotData?testRunId={{ result['runId'] }}&mapType={{ result['mapType'] }}">plotly</a>
              </h4>
              <table class="table table-sm table-bordered" style="font-size: 8pt; table-layout: fixed;">
                <thead class="table-light">
                  <tr>
                    {% for chip, data in result["chips"].items() %}
                      {% if not data["num"]==0 %}
                        <th ~~~ scope="col" class="text-left" style="word-wrap:break-word;" width={{ data["length"] }} colspan={{ data["num"] }}>{{ chip }}</th>
                      {% endif %}
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    {% for chip, data in result["chips"].items() %}
                      {% for plot in data["plots"] %}
                        <td scope="col" class="text-left" style="word-wrap:break-word;">
                        <a href={{ plot["url"] }} target="_brank" rel="noopener noreferrer">
                          <img src={{ plot["url"] }} title={{ plot["name"] }} width={{ data["width"] }} height={{ data["width"] }}></img>
                        </a>
                        </td>
                      {% endfor %}
                    {% endfor %}
                  </tr>
                </tbody>
              </table>
          {% endfor %}
          </div>
        </div>
      {% endfor %}

      <br>
      <br>
      {% if not component['qctest']['results']['analysis_result'] == {} %}
        <h3><i class="fa fa-caret-right"></i>Bad Pixel Analysis</h3>
        {% for chip_result in component['qctest']['results']["analysis_result"] %}
          <h3>Chip: {{ chip_result['chipname'] }}</h3>
          {% if chip_result["tool"] == True %}

            <h4 style="font-size: 12pt;">
              {% if not chip_result["tool"] %}
              <font color=#ff0000>### NO SOFTWARE ###</font>
              {% endif %}
            </h4>
<!--
            <h4 style="font-size: 12pt;">
              {% if chip_result["jsroot"] %}
              <a href="javascript:displayRoot()">JSROOT</a>
              {% endif %}
            </h4>

            {% if chip_result["jsroot"] %}
              <div class="row align-items-center justify-content-flex-start">
                <script src="static/jsroot/scripts/JSRootCore.js?gui"></script>
                <div id="simpleGUI" path={{ chip_result["jsroot"]["path"] }} files={{ chip_result["jsroot"]["files"] }} style="width:100%;height:600px;margin-bottom:10px;position:relative">
                  loading scripts ...
                </div>
                <script type="text/javascript">
                  document.getElementById("simpleGUI").style.display = "none";
                  function displayRoot() {
                    const p1 = document.getElementById("simpleGUI");
                    if (p1.style.display=="block") {
                      p1.style.display = "none";
                    } else {
                      p1.style.display = "block";
                    }
                  }
                </script>
              </div>
            {% endif %}
-->

            {% include "show_analysis_result.html" %}

            Download Analysis result
            <form method=post action="{{ url_for( 'component_api.download_rootfile' ) }}">
               <button type="submit" name="path" value="{{ chip_result["Tree_path"] }}">Tree File</button>
               <button type="submit" name="path" value="{{ chip_result["result_path"] }}">Result File</button>
            </form>

          {% endif %}
        {% endfor %}
      {% endif %}

    </div>
  </div>
</div>

