<h2><i class="fa fa-cog"></i> Flow of the production stages and QC tests </h2><br>
<div align="center">
  <img src="/localdb/static/images/production_stageflow.png" title="Map" width="950" height="200">
</div>
