<br>
<div class="container">
  <p>  Input the Ids of test which you want to select as uploading results. </p>
  <h5>Module:{{ table_docs['mname'] }}</h5>
  <h5>Stage :{{ table_docs['stage'] }}</h5>
  <font color=#ff0000 size=2">* Required</font>
  <form class="form-holizontal" role="form" method="post" action="{{ url_for('user_api.select_test',p=table_docs['now_cnt'], mname=table_docs['mname'], stage=table_docs['stage']) }}" accept-charset="UTF-8">
  {% for scantype in scantypes %}
    <div class="form-group row">
      <label class="col-form-label col-md-2" for="name">{{ scantype }}<font color=#ff0000>*</font></label>
      <div class="col-md-10">
        {% if pstage == "input" %}
          <input type="text" pattern="^[0-9A-Za-z]+$" class="form-control" value="{{ selectInfo[loop.index0] }}" placeholder="Input Id of {{ scantype }}" name="selectinfo" id="name" required="required">
        {% elif pstage == "confirm" %}
          <input type="hidden" value="{{ selectInfo[loop.index0] }}" name="selectinfo">
          <p>{{ selectInfo[loop.index0] }}</p>
        {% endif %}
      </div>
      {% if not nametext[loop.index0] == '' %}
      <p><div class="col-md-2"></div><div class="col-md-10"><font color=#ff0000>{{ nametext[loop.index0] }}</font></div></p>
      {% endif %}
    </div>
  {% endfor %}
  {% if not text == '' %}
  <p><div class="col-md-2"></div><div class="col-md-10"><font color=#ff0000>{{ text }}</font></div></p>
  {% endif %}

    <div class="form-group row align-items-center justify-content-center">
      <div class="col-md-10">
      {% if pstage == "input" %}
          <button type="submit" class="btn btn-primary btn-block" name="pstage" value="confirm">Confirm</button>
      {% elif pstage == "confirm" %}
          <button type="submit" class="btn btn-primary btn-block" name="pstage" value="complete">Register</button>
          <button type="submit" class="btn btn-primary btn-block" name="pstage" value="input">Back page</button>
      {% endif %}
      </div>
    </div>
  </form>

</div>
