<style>
input[type="checkbox"].data {
display: none;
margin: 0px;
padding: 0px;
background-color: #ffffff;
}
input[type="checkbox"].data + label {
margin: 0px;
padding: 0px;
border: none;
background-color: #ffffff;
}
input[type="checkbox"].data:checked + label {
margin: 0px;
padding: 0px;
border: none;
color: #3cb371;
background-color: #ffffff;
}
input[type="checkbox"].data:checked + label:hover {
margin: 0px;
padding: 0px;
color: #3cb371;
border: none;
background-color: #ffffff;
}
label.data {
margin: 0px;
padding: 0px;
text-align: center;
cursor: pointer;
color: #dddddd;
background-color: #ffffff;
border: none;
}
</style>
<div class='row align-items-top justify-content-left'>
  <div class='col'>
    <h4 style='font-size: 13pt;'><i class='fa fa-cog'></i> Result of Ireftrim</h4>
  </div>
</div>
<div class='row align-items-top justify-content-left'>
  <div class='col-md-6'>
    <h4 style='font-size: 10pt;'>
    {% if component['property']['properties'] %}
      <i class='fa fa-file'></i> Scan 
    {% endif %}
    </h4>
    {% if component['property']['properties'] %}
        <table class='table table-sm table-bordered' style='font-size: 8pt;'>
          <thead class='table-light'>
            <tr>
              <th scope='col' class='text-left'>Key</th>
              <th scope='col' class='text-left'>Data</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope='raw' class='text-left'>component id</td>
              <td class='text-left'>{{ component['property']['properties']['component'] }}</td>
            </tr>
            <tr>
              <th scope='raw' class='text-left'>current Stage</td>
              <td class='text-left'>{{ component['property']['properties']['currentStage'] }}</td>
            </tr>
            <tr>
              <th scope='raw' class='text-left'>test Type</td>
              <td class='text-left'>{{ component['property']['properties']['testType'] }}</td>
            </tr>
            <tr>
              <th scope='raw' class='text-left'>institute</td>
              <td class='text-left'>{{ component['property']['properties']['institute'] }}</td>
            </tr>
            <tr>
              <th scope='raw' class='text-left'>user</td>
              <td class='text-left'>{{ component['property']['properties']['user'] }}</td>
            </tr>
          </tbody>
        </table>
    {% endif %}
  </div>
</div>

<div class='row align-items-top justify-content-left'>
  <div class='col-md-6'>
    <h4 style='font-size: 10pt;'>
    {% if component['property']['properties'] %}
      <i class='fa fa-file'></i> Result 
    {% endif %}
    </h4>
    {% if component['property']['properties'] %}
        <table class='table table-sm table-bordered' style='font-size: 8pt;'>
          <thead class='table-light'>
            <tr>
              <th scope='col' class='text-left'>Key</th>
              {% if component['info']['name'][3:7] in component['property']['properties']['triplet']['RING'] %}
                <th scope='col' class='text-left' colspan="3">Data</th>
              {% elif component['info']['name'][3:7] in component['property']['properties']['triplet']['STAVE'] %}
                <th scope='col' class='text-left' colspan="3">Data</th>
              {% else %}
                <th scope='col' class='text-left' colspan="4">Data</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope='raw' class='text-left' rowspan="2"> value [ Binary ] </td>
              {% for keys in component['property']['properties']['results']['value'] %}
                <td class='text-left'>{{ keys }}</td>
              {% endfor %}
            </tr>
            <tr>
              {% for keys in component['property']['properties']['results']['value'] %}
                <td class='text-left'>{{ component['property']['properties']['results']['value'][keys] }}</td>
              {% endfor %}
            </tr>
            <tr>
              <th scope='raw' class='text-left'> comment </td>
              <td class='text-left' colspan="4"> {{ component['property']['properties']['results']['comment'] }} </td>
            </tr>
          </tbody>
        </table>
        <div class="row align-items-left justify-content-flex-start">
          <div class="col">
            <table class="table table-sm table-bordered" style="font-size: 8pt; table-layout: fixed;">
              <thead class="table-light">
                <tr>
                  <th scope='col' class='text-left' style="word-wrap:break-word;" width=100 colspan=1 >reference image for chip numbering</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="col" class="text-left" style="word-wrap:break-word;">
                  {% if component['info']['name'][3:7] in component['property']['properties']['triplet']['RING'] %}
                    <a href="static/images/triplet_ring_iref.png" target="_brank" rel="noopener noreferrer">
                      <img src="static/images/triplet_ring_iref.png" title="image" height="300"></img>
                    </a>
                  {% elif component['info']['name'][3:7] in component['property']['properties']['triplet']['STAVE'] %} 
                    <a href="static/images/triplet_stave_iref.png" target="_brank" rel="noopener noreferrer">
                      <img src="static/images/triplet_stave_iref.png" title="image" height="300"></img>
                    </a>
                  {% else %}
                    <a href="static/images/quad_iref.png" target="_brank" rel="noopener noreferrer">
                      <img src="static/images/quad_iref.png" title="image" height="300"></img>
                    </a>
                  {% endif %}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
 {% endif %}
  </div>
</div>
