<h2>Current Stage Status:
{% if session['logged_in'] and component['latest_tests']['results'] %}
  {% if component['info']['stage'] == "MODULETOPCB" %}
    {% if '' in component["selection_result"] %}
      <a><button type="button" class="btn btn-danger" disabled>Please store all results for this stage</button></a>
    {% else %}
      <a href="{{ url_for('component_api.select_test', id=component['_id'], stage=component['info']['stage'])}}"><button type="button" class="btn btn-primary">Locally sign-off QC results for this stage</button></a>
    {% endif %}
  {% elif component['info']['stage'] == "MODULEWIREBONDING" %}
    {% if '' in component["selection_result"] or '' in component["selection_prop"] %}
      <a><button type="button" class="btn btn-danger" disabled>Please store required results and properties for this stage</button></a>
    {% else %}
      <a href="{{ url_for('component_api.select_test', id=component['_id'], stage=component['info']['stage'])}}"><button type="button" class="btn btn-primary">Locally sign-off QC results for this stage</button></a>
    {% endif %}
  {% else %}
    <a href="{{ url_for('component_api.select_test', id=component['_id'], stage=component['info']['stage'])}}"><button type="button" class="btn btn-primary">Locally sign-off QC results for this stage</button></a>
  {% endif %}
{% endif %}
</h2>

<div class="row align-items-top">
  <div style="padding-left: 30px;">
  {% if component["latest_tests"]["results"] %}
  <table class="table table-lg table-bordered" style="width:500px;">
    <thead class="bg-warning">
      <tr>
        <th scope="col" class="text-left">Test Type</th>
        <th scope="col" class="text-left">Result</th>
      </tr>
    </thead>
    <tbody>
      {% for test in component["latest_tests"]["results"] %}
      <tr>
          <td style="word-wrap:break-word;">{{ test["name"] }}</td>
          {% if test["runId"] %}
	    <td style="word-wrap:break-word; background-color:rgb(204, 255, 223);">
            <a href="{{ url_for('component_api.show_component', id=component['_id'], collection=component['collection'], test='qctest', runId=test['runId']) }}">{{ test["runId"] }}</a>
          {% else %}
	    <td style="word-wrap:break-word; background-color:#fcc;">
            No result
          {% endif %}
          {% if test["scan_selection"] and session['logged_in'] %}
	          <a href="{{ url_for('component_api.analyze_scan', id=component['_id'], stage=component['info']['stage'], test=test['name'])}}"><button type="button" class="btn btn-primary">Select scan results</button></a>
          {% endif %}
          </td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
    {% else %}
    <h2><p style="color:red"> This version of LocalDB can not handle {{component["info"]["stage"]}}. Please sign in, then click "Change Stage". </p></h2>
    {% endif %}
  </div>

  {% if component['info']['stage'] == "MODULEWIREBONDING" %}
  <div style="padding-left: 30px;">
    <table class="table table-lg table-bordered" style="width:500px;">
      <thead class="bg-warning">
        <tr>
          <th scope="col" class="text-left">Module Properties</th>
          <th scope="col" class="text-left">Result</th>
        </tr>
      </thead>
      <tbody>
        {% for test in component["latest_props"]["results"] %}
        <tr>
          <td style="word-wrap:break-word;">{{ test["name"] }}</td>
          {% if test["runId"] %}
          <td style="word-wrap:break-word; background-color:rgb(204, 255, 223);">
            <a
              href="{{ url_for('component_api.show_component', id=component['_id'], collection=component['collection'], test='property', runId=test['runId']) }}">{{
              test["runId"] }}</a>
            {% else %}
          <td style="word-wrap:break-word; background-color:#fcc;">
            No result
            {% endif %}
            {% if test["scan_selection"] and session['logged_in'] %}
            <a
              href="{{ url_for('component_api.analyze_scan', id=component['_id'], stage=component['info']['stage'], test=test['name'])}}"><button
                type="button" class="btn btn-primary">Select scan results</button></a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
</div>

<hr>
