<h4><i class="fa fa-cog"></i> Module Property </h4>
<div class="row align-items-top card-body">
<table id="propTable" class="table table-sm table-hover table-bordered" style="font-size: 8pt;">
  <thead>
    <tr>
      <th class="text-left">Link      </th>
      <th class="text-left">Test Name </th>
      <th class="text-left">Stage     </th>
      <th class="text-left">Inspector </th>
      <th class="text-left">Date      </th>
    </tr>
  </thead>
  <tbody>
    {% for run in component['property']['propIndex'] %}
      <tr>
         <td>
           <a href="{{ url_for('component_api.show_component', id=component['_id'], collection=component['collection'], test='property' , runId=run['_id'])}}">{{ run['_id'] }}</a>
         </td>
         <td>{{ run['testType'] }}</td>
         <td>{{ run['currentStage'] }}</td>
         <td>{{ run['user'] }}</td>
         <td>{{ run['datetime'] }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>
