<style>
table.toppage {
  table-layout: fixed;
}
table.toppage th {
  text-align: center;
  vertical-align: middle;
}
table.toppage td {
  text-align: center;
  vertical-align: middle;
  border: 2px dotted #e1e1e1;
}
table.toppage td.border_inner {
  border-right-width: 2px;
  border-right-style: dotted;
  border-right-color: #e1e1e1;
}
</style>

{% block body %}    <!-- layout.htmlのbodyというブロックを以下で置き換える -->


{% if stage == "complete" %}
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">

        <br>
        <h4>The module registration is completed!</h4><br>
        <h4>These are the information you registered to Production DB. You can start QC tests for the registered module.</h4><br>

        <div class="form-group row">
          <label class="col-form-label col-md-2" for="email">Module Type<font color=#ff0000>*</font></label>
          <div class="col-md-10">
            <p>{{ moduleInfo[0] }}</p>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-form-label col-md-2" for="name">Bare Module serial number<font color=#ff0000>*</font></label>
          <div class="col-md-10">
            <p>{{ moduleInfo[1] }}</p>
            {% if tripletInfo[0] %}
              <p>{{ tripletInfo[0] }}</p>
              <p>{{ tripletInfo[1] }}</p>
            {% endif %}
          </div>
        </div>

        <div class="form-group row">
          <label class="col-form-label col-md-2" for="name">PCB serial number<font color=#ff0000>*</font></label>
          <div class="col-md-10">
            <p>{{ moduleInfo[2] }}</p>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-form-label col-md-2" for="name">Module Carrier serial number<font color=#ff0000>*</font></label>
          <div class="col-md-10">
            <p>{{ moduleInfo[3] }}</p>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-form-label col-md-2" for="email">Project<font color=#ff00ff>*</font></label>
          <div class="col-md-10">
            <input type="hidden" value="P" name="moduleinfo">
            <p>P: Pixel</p>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-md-2" for="email">Sub Project<font color=#ff00ff>*</font></label>
          <div class="col-md-10">
            <input type="hidden" value="{{ look_up_table["MODULE_TYPES"][moduleInfo[0]]["XX"] }}" name="moduleinfo">
            <p>{{ look_up_table["MODULE_TYPES"][moduleInfo[0]]["XX"] }}: Pixel General</p>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-form-label col-md-2" for="email">Component Type<font color=#ff00ff>*</font></label>
          <div class="col-md-10">
            <input type="hidden" value="Module" name="moduleinfo">
            <p>Module</p>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-form-label col-md-2" for="email">FE chip version<font color=#ff0000>*</font></label>
          <div class="col-md-10">
            <input type="hidden" value="{{ moduleInfo[1][7] }}"name="moduleinfo">
            <p>{{ look_up_table["FECHIP_VERSION"][moduleInfo[1][7]] }}</p>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-form-label col-md-2" for="email">Institution<font color=#ff00ff>*</font></label>
          <div class="col-md-10">
            <input type="hidden" value="{{ institution }}" name="moduleinfo">
            <p>{{ institution }}</p>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-form-label col-md-2" for="email">Module serial number<font color=#ff00ff>*</font></label>
          <div class="col-md-10">
            <input type="hidden" value="{{ module_serialnum }}" name="moduleinfo">
            <p>{{ module_serialnum }}</p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <form>
    <div class="form-group row align-items-center justify-content-center">
      <div class="col-md-10">
        <button type="submit" class="btn btn-primary btn-block" name="stage" value="input_module">Register another Module</button>
      </div>
    </div>
  </form>

{% elif stage == "input_module" or stage == "confirm" %}
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">

        <br>
        {% if stage == "input_module" %}
          <h4> <i class="fa fa-pencil "></i> Please enter the Information about the Module. </h4>
        {% elif stage == "confirm" %}
          <h4> <i class="fa fa-check-circle-o "></i> Please check the Information about the Module. </h4>
        {% endif %}

        <div class="container">
          <font color=#ff0000 size=2">* Required</font>

          <form class="form-holizontal" role="form" method="post" accept-charset="UTF-8">
          <input type="hidden" value="{{ userInfo }}" name="userinfo">

            <!-- module infomation 0 -->
            <div class="form-group row">
              <label class="col-form-label col-md-2" for="email">Module Type<font color=#ff0000>*</font></label>
              <div class="col-md-10">
                {% if stage == "input_module" %}
                  <select class="form-control" name="moduleinfo" id="collection" required="required" value="{{ moduleInfo[0] }}" onchange="myfunc(this.value)">
                    <option value="">*** choose Module Type ***</option>
                    {% for key in look_up_table["MODULE_TYPES"] %}
                      <option value="{{ key }}">{{ key }}</option>
                    {% endfor %}
                  </select>
                {% elif stage == "confirm" %}
                  <input type="hidden" value="{{ moduleInfo[0] }}" name="moduleinfo">
                  <p style="font-size: 25px;">{{ moduleInfo[0] }}</p>
                {% endif %}
              </div>
            </div>

            <!-- module infomation 1 -->
            <div class="form-group row">
              <label class="col-form-label col-md-2" for="name">Bare Module serial number<font color=#ff0000>*</font></label>
              <div class="col-md-10">
                {% if stage == "input_module" %}
                  <input type="text" class="form-control" value="{{ moduleInfo[1] }}" placeholder="Bare Module serial number 1" name="moduleinfo" minlength="14" maxlength='14'>
                  <div id="hidden1">
                    <input type="text" class="form-control" name="tripletinfo" value="{{ tripletInfo[0] }}" placeholder="Bare Module serial number 2" minlength="14" maxlength='14'>
                    <input type="text" class="form-control" name="tripletinfo" value="{{ tripletInfo[1] }}" placeholder="Bare Module serial number 3" minlength="14" maxlength='14'><br>
                  </div>
                  <div id = "hiddenstave">
                    <div class="row align-items-center justify-content-flex-start">
                      <div class="col">
                        <table class="table table-sm table-bordered" style="font-size: 8pt; table-layout: fixed;">
                          <thead class="table-light">
                            <tr>
                              <th scope='col' class='text-left' style="word-wrap:break-word;" width=100 colspan=1 >reference image for Triplet Module</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td scope="col" class="text-left" style="word-wrap:break-word;">
                              <a href="static/images/triplet_stave.png" target="_brank" rel="noopener noreferrer">
                                <img src="static/images/triplet_stave.png" title= "image" height="300"></img>
                              </a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div id = "hiddenring">
                    <div class="row align-items-center justify-content-flex-start">
                      <div class="col">
                        <table class="table table-sm table-bordered" style="font-size: 8pt; table-layout: fixed;">
                          <thead class="table-light">
                            <tr>
                              <th scope='col' class='text-left' style="word-wrap:break-word;" width=100 colspan=1 >reference image for Triplet Module</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td scope="col" class="text-left" style="word-wrap:break-word;">
                              <a href="static/images/triplet_ring.png" target="_brank" rel="noopener noreferrer">
                                <img src="static/images/triplet_ring.png" title= "image" height="300"></img>
                              </a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                {% elif stage == "confirm" %}
                  <input type="hidden" value="{{ moduleInfo[1] }}" name="moduleinfo">
                  <input type="hidden" value="{{ tripletInfo[0] }}" name="tripletinfo">
                  <input type="hidden" value="{{ tripletInfo[1] }}" name="tripletinfo">
                  <p style="font-size: 25px;">{{ moduleInfo[1] }}</p>
                  {% if parent["bare1"] == "0" %}
                    <p> <font color=#ff0000> <i class="fa fa-warning"></i> THIS BARE MODULE IS ALREADY ASSEMBLED </font> </p>
                  {% elif parent["bare1"] == "2" %}
                    <p> <font color=#ff0000> <i class="fa fa-warning"></i> THIS BARE MODULE DOES NOT EXIST IN PRODUCTION DB </font> </p>
                  {% elif parent["bare1"] == "3" %}
                    <p> <font color=#ff0000> <i class="fa fa-warning"></i> THIS BARE MODULE DOES NOT HAVE ALL FE CHIPS </font> </p>
                  {% endif %}
                  {% if currentLocation["bare1"] == "1" %}
                    <p> <font color=#ff0000> <i class="fa fa-warning"></i> THIS BARE MODULE EXISTS IN DIFFERENT LOCATION FROM MODULE </font> </p>
                  {% endif %}
                  {% if tripletInfo[0] %}
                    <p style="font-size: 25px;">{{ tripletInfo[0] }}</p>
                    {% if parent["bare2"] == "0" %}
                      <p> <font color=#ff0000> <i class="fa fa-warning"></i> THIS BARE MODULE IS ALREADY ASSEMBLED </font> </p>
                    {% elif parent["bare2"] == "2" %}
                      <p> <font color=#ff0000> <i class="fa fa-warning"></i> THIS BARE MODULE DOES NOT EXIST IN PRODUCTION DB </font> </p>
                    {% elif parent["bare2"] == "3" %}
                      <p> <font color=#ff0000> <i class="fa fa-warning"></i> THIS BARE MODULE DOES NOT HAVE ALL FE CHIPS </font> </p>
                    {% endif %}
                    {% if currentLocation["bare2"] == "1" %}
                      <p> <font color=#ff0000> <i class="fa fa-warning"></i> THIS BARE MODULE EXISTS IN DIFFERENT LOCATION FROM MODULE </font> </p>
                    {% endif %}
                    <p style="font-size: 25px;">{{ tripletInfo[1] }}</p>
                    {% if parent["bare3"] == "0" %}
                      <p> <font color=#ff0000> <i class="fa fa-warning"></i> THIS BARE MODULE IS ALREADY ASSEMBLED </font> </p>
                    {% elif parent["bare3"] == "2" %}
                      <p> <font color=#ff0000> <i class="fa fa-warning"></i> THIS BARE MODULE DOES NOT EXIST IN PRODUCTION DB </font> </p>
                    {% elif parent["bare3"] == "3" %}
                      <p> <font color=#ff0000> <i class="fa fa-warning"></i> THIS BARE MODULE DOES NOT HAVE ALL FE CHIPS </font> </p>
                    {% endif %}
                    {% if currentLocation["bare3"] == "1" %}
                      <p> <font color=#ff0000> <i class="fa fa-warning"></i> THIS BARE MODULE EXISTS IN DIFFERENT LOCATION FROM MODULE </font> </p>
                    {% endif %}
                  {% endif %}
                {% endif %}
              </div>
              {% if not nametext == _brank %}
              <p><div class="col-md-2"></div><div class="col-md-10"><font color=#ff0000>{{ nametext }}</font></div></p>
              {% endif %}
              <script type="text/javascript">
                document.getElementById("hidden1").style.display ="none";
                document.getElementById("hiddenstave").style.display ="none";
                document.getElementById("hiddenring").style.display ="none";
                function myfunc(value) {
                  var module1 = document.getElementById("collection").value;
                  var hidden1 = document.getElementById("hidden1");
                  var hiddenstave = document.getElementById("hiddenstave");
                  var hiddenring = document.getElementById("hiddenring");
                  var triplet = module1.match("TRIPLET")
                  var stave = module1.match("STAVE")
                  var ring = module1.match("RING")
                  if(triplet == "TRIPLET"){
                    hidden1.style.display ="block";
                    if(stave == "STAVE"){
                      hiddenstave.style.display ="block";
                      hiddenring.style.display ="none";
                      }
                    if(ring == "RING"){
                      hiddenring.style.display ="block";
                      hiddenstave.style.display ="none";
                      }
                    }
                  else{
                    hidden1.style.display ="none";
                    hiddenstave.style.display ="none";
                    hiddenring.style.display ="none";
                  }
                }
              </script>
            </div>

            <!-- module infomation 2 -->
            <div class="form-group row">
              <label class="col-form-label col-md-2" for="name">PCB serial number<font color=#ff0000>*</font></label>
              <div class="col-md-10">
                {% if stage == "input_module" %}
                  <input type="text" class="form-control" value="{{ moduleInfo[2] }}" placeholder="PCB serial number" name="moduleinfo" required="required" minlength="14" maxlength='14'>
                {% elif stage == "confirm" %}
                  <input type="hidden" value="{{ moduleInfo[2] }}" name="moduleinfo">
                  <p style="font-size: 25px;">{{ moduleInfo[2] }}</p>
                  {% if parent["pcb"] == "0" %}
                    <p> <font color=#ff0000> <i class="fa fa-warning"></i> THIS PCB IS ALREADY ASSEMBLED </font> </p>
                  {% elif parent["pcb"] == "2" %}
                    <p> <font color=#ff0000> <i class="fa fa-warning"></i> THIS PCB DOES NOT EXIST IN PRODUCTION DB </font> </p>
                  {% endif %}
                  {% if currentLocation["pcb"] == "1" %}
                    <p> <font color=#ff0000> <i class="fa fa-warning"></i> THIS PCB EXISTS IN DIFFERENT LOCATION FROM MODULE </font> </p>
                  {% endif %}
                {% endif %}
              </div>
            </div>

            <!-- module infomation 3 -->
            <div class="form-group row">
              <label class="col-form-label col-md-2" for="name">Module Carrier serial number<font color=#ff0000>*</font></label>
              <div class="col-md-10">
                {% if stage == "input_module" %}
                  <input type="text" class="form-control" value="{{ moduleInfo[3] }}" placeholder="Module Carrier serial number" name="moduleinfo" required="required" minlength="14" maxlength='14'>
                {% elif stage == "confirm" %}
                  <input type="hidden" value="{{ moduleInfo[3] }}" name="moduleinfo">
                  <p style="font-size: 25px;">{{ moduleInfo[3] }}</p>
                  {% if parent["carrier"] == "2" %}
                    <p> <font color=#ff0000> <i class="fa fa-warning"></i> THIS MODULE CARRIER DOES NOT EXIST IN PRODUCTION DB </font> </p>
                  {% endif %}
                  {% if currentLocation["carrier"] == "1" %}
                    <p> <font color=#ff0000> <i class="fa fa-warning"></i> THIS MODULE MODULE EXISTS IN DIFFERENT LOCATION FROM MODULE </font> </p>
                  {% endif %}
                {% endif %}
              </div>
            </div>

            {% if stage == "confirm" %}
                <div class="form-group row">
                  <label class="col-form-label col-md-2" for="email">Module serial number<font color=#ff00ff>*</font></label>
                  <div class="col-md-10">
                    <input type="hidden" value="{{ module_serialnum }}" name="moduleinfo">
                    <p style="font-size: 25px; color: darkblue;">{{ module_serialnum }} <br><i class="fa fa-check-circle-o "></i> Confirm generated module serial number</p>
                  </div>
                </div>
                    <br>
              {% if check_serialNum == "1" %}
                <div class="form-group row">
                  <label class="col-form-label col-md-2"></label>
                  <div class="col-md-10">
                    <h2> <font color=#ff0000> <i class="fa fa-warning"></i> Module:{{ module_serialnum }} is already exist in ITkPD </font> </h2>
                  </div>
                </div>
              {% else %}

              {% endif %}
          {% if not text == '' %}
          <div class="form-group row">
            <label class="col-form-label col-md-2"></label>
            <div class="col-md-10">
              <h2 style="margin-bottom: 0%;"><font color=#ff0000><i class="fa fa-warning "></i> {{ text }}</font></h2>
            </div>
          </div>
          {% endif %}
              <form class="form-holizontal" role="form" method="post" accept-charset="UTF-8">
                <div class="form-group row">
                  <label class="col-form-label col-md-2">Access code 1<font color=#ff0000>*</font></label>
                  <div class="col-md-10">
                    <input type="password" class="form-control" value="{{ code1 }}" placeholder="Access code 1" name="code1" required="required">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-form-label col-md-2">Access code 2<font color=#ff0000>*</font></label>
                  <div class="col-md-10">
                    <input type="password" class="form-control" value="{{ code2 }}" placeholder="Access code 2" name="code2" required="required">
                  </div>
                </div>

            {% endif %}

            <div class="form-group row">
              <div class="col-md-12">
                <label class="col-form-label col-md-2"></label>
              {% if stage == "input_module" %}
                <button type="submit" class="btn btn-primary" name="stage" value="confirm">Confirm</button>
              {% elif stage == "confirm" %}
                <button type="submit" class="btn btn-primary" name="stage" value="complete">Register</button>
              <!--  <button type="submit" class="btn btn-primary btn-block" name="stage" value="input_module">Back page</button> -->
              {% endif %}
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% if stage == "input_module" %}
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col">
          <a href="/localdb/">Back to Top Page</a>
        </div>
      </div>
    </div>
  {% elif stage == "confirm" %}
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col">
          <a href="/localdb/moduleDB">Back page</a>
        </div>
      </div>
    </div>
  {% endif %}

{% elif stage == "download_moduletypes" %}
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <p> <font color=#ff0000 size="5"> <i class="fa fa-warning"></i> Please download module types on admin page (from the button on the upper right) </font> </p>
      </div>
    </div>
  </div>
{% endif %}

{% endblock %}
