<style>
img.plot-img:hover {
    border: 0.5px solid #CCC;
    transform: scale(2.5);
}
</style>
<script>
document.addEventListener("DOMContentLoaded", function() {
  var lazyImages = [].slice.call(document.querySelectorAll("img.plot-img"));

  if ("IntersectionObserver" in window) {
    let lazyImageObserver = new IntersectionObserver(function(entries, observer) {
      entries.forEach(function(entry) {
        if (entry.isIntersecting) {
          let lazyImage = entry.target;
          lazyImage.src = lazyImage.dataset.src;
          if (typeof lazyImage.dataset.srcset === "undefined") {
          }else{
              lazyImage.srcset = lazyImage.dataset.srcset;
          }
          lazyImage.classList.remove("plot-img");
          lazyImageObserver.unobserve(lazyImage);
        }
      });
    });

    lazyImages.forEach(function(lazyImage) {
      lazyImageObserver.observe(lazyImage);
    });
  } else {
    // Possibly fall back to a more compatible method here
  }
});
</script>
<h4 style="font-size: 10pt;"><i class="fa fa-paint-brush"></i> PLOT
  {% if not component['electrical']["plots"]["rootsw"] %}
  <font color=#ff0000>### NO PLOTTING SOFTWARE ###</font>
  {% elif component['electrical']["plots"]["jsroot"] %}
  <a href="javascript:displayRoot()">JSROOT</a>
  {% endif %}
</h4>

{% if component['electrical']["plots"]["jsroot"] %}
  <div class="row align-items-center justify-content-flex-start">
    <script src="static/jsroot/scripts/JSRootCore.js?gui"></script>
    <div id="simpleGUI" path={{ component['electrical']["plots"]["jsroot"]["path"] }} files={{ component['electrical']["plots"]["jsroot"]["files"] }} style="width:100%;height:600px;margin-bottom:10px;position:relative">
      loading scripts ...
    </div>
    <script type="text/javascript">
      document.getElementById("simpleGUI").style.display = "none";
      function displayRoot() {
        const p1 = document.getElementById("simpleGUI");
        if (p1.style.display=="block") {
          p1.style.display = "none";
        } else {
          p1.style.display = "block";
        }
      }
    </script>
  </div>
{% endif %}

<div class="row align-items-center justify-content-flex-start">
  <div class="col">
  {% for result in component['electrical']["plots"]["results"] %}
    <h4 style="font-size: 10pt;">
      <i class="fa fa-caret-right"></i> <b>{{ result["mapType"] }}</b>
      <a href="/localdb/plotData?testRunId={{ result['runId'] }}&mapType={{ result['mapType'] }}">plotly</a>
    </h4>
    <div style="display: flex; flex-wrap: wrap;">
    {% for chip, data in result["chips"].items() %}
      {% if not data["num"]==0 %}
        <div width={{ data["length"] }} align="left">
        <table class="table table-sm table-bordered" style="font-size: 8pt;">
          <thead class="table-light">
            <tr>
              <th ~~~ scope="col" class="text-left" style="word-wrap:break-word;" colspan={{ data["num"] }}>{{ chip }}</th>
            </tr>
          </thead>
          <tbody>
            <tr style="display: flex; flex-wrap: wrap; background: #DDD; max-width: 100%">
              {% for plot in data["plots"] %}
                <td scope="col" class="text-left" style="word-wrap:break-word;">
                <a href={{ plot["url"] }} target="_brank" rel="noopener noreferrer">
                  <img class="plot-img" src="static/assets/images/dummy.png" data-src={{ plot["url"] }} title={{ plot["name"] }} width={{ data["width"] }} height={{ data["width"] }}></img>
                </a>
                </td>
              {% endfor %}
            </tr>
          </tbody>
        </table>
        </div>
      {% endif %}
    {% endfor %}
    </div>
  {% endfor %}
  </div>
</div>
