{% extends "layout.html" %}    <!-- これで元になるHTML(laytout.html)を指定 -->

{% block body %}
<div class="container">
  <a href="javascript:history.go(-1)">Back</a>
</div>

{%if graph_json == [] %}
<div class="container">
  <h2>  Sorry, plots couldn't be generated. </h2>
</div>
{% else %}
  <div class='row align-items-top justify-content-center' id='chart'>
    <!-- Plotly.js -->
    <script src="static/assets/js/plotly.min.js"></script>

    <script type="text/javascript">
      var graph = {{ graph_json | safe }};
      var layout = {{ layout_json | safe }};
      Plotly.plot("chart", graph.data, layout, image_filename='hoge', image="jpeg");
    </script>
  </div>
{% endif %}
{% endblock %}
