{% extends "layout.html" %}    <!-- これで元になるHTML(laytout.html)を指定 -->

{% block body %}    <!-- layout.htmlのbodyというブロックを以下で置き換える -->

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <h1 style="margin-top: 0.5%; margin-bottom: 0%; font-size: 150%;"> <a href="/localdb/"
            style="color:rgba(0, 0, 0, 0.648);;">Top Page</a> > Issue Password for LocalDB User </h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <h1><font color=#000080><i class="fa fa-arrow-right"></i>Issue Password for LocalDB User</font></h1>
      </div>
    </div>
  </div>

  {% if stage == "request" %}
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col">
          <h4>A password have been issued for the user.</h4>
          <h4>Username: {{ userInfo[0] }}</h4>
          <h4>Password: {{ pin_number }}</h4>
          <h4>Please tell this password to the user and ask the user to change the password ASAP. </h4>
        </div>
      </div>
    </div>
  {% else %}

    <div class="container">
          <h3><p>  You can issue user's password. Input the username below. </p></h3>
            <h3><font color=#ff0000>The password will be reset and a new passowrd will be issued for the user.</font></h3>
          <font color=#ff0000 size=2">* Required</font>

          <form class="form-holizontal" role="form" method="post" action="register_password_from_admin" accept-charset="UTF-8">
            <div class="form-group row">
           	  <label class="col-form-label col-md-3" for="name">User Name<font color=#ff0000>*</font></label>
              <div class="col-md-9">
                {% if stage == "input" %}
           	      <input type="text" class="form-control" value="{{ userInfo[0] }}" placeholder="Input a user name" name="userinfo" id="name" required="required">
                {% elif stage == "confirm" %}
           	      <input type="hidden" value="{{ userInfo[0] }}" name="userinfo">
                  <p>{{ userInfo[0] }}</p>
                {% endif %}
           	  </div>
              {% if not nametext1 == _brank %}
              <p><div class="col-md-3"></div><div class="col-md-9"><font color=#ff0000>{{ nametext1 }}</font></div></p>
              {% endif %}
           	</div>

           	<div class="form-group row align-items-center justify-content-center">
              <div class="col-md-3"></div><div class="col-md-9">
                <button type="submit" class="btn btn-primary" name="stage" value="request">Issue</button>
              </div>
            </div>
          </form>

    </div>
  {% endif %}

<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col">
      <a href="/localdb/">Back to Top Page</a>
    </div>
  </div>
</div>

<br>
{% endblock %}
