<style>
table.toppage {
  table-layout: fixed;
}
table.toppage th {
  text-align: center;
  vertical-align: middle;
}
table.toppage td {
  text-align: center;
  vertical-align: middle;
  border: 2px dotted #e1e1e1;
}
table.toppage td.border_inner {
  border-right-width: 2px;
  border-right-style: dotted;
  border-right-color: #e1e1e1;
}
</style>
{% extends "layout.html" %}    <!-- これで元になるHTML(laytout.html)を指定 -->

{% block body %}    <!-- layout.htmlのbodyというブロックを以下で置き換える -->

<style>
@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        display: none;
        opacity: 0;
        z-index: -1;
    }
}

#loader {
    width: 100%;
    height: 100vh;
    background-color: #00c2bc;
}

#loader.loaded {
    animation: fadeOut 3s forwards;
}

.spinner {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  position: relative;
  top: 50%;
}

.cube1, .cube2 {
  background-color: #ffffff;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

</style>

<!--
<div id="loadingWrap">
  <div id="loading"></div>
</div>
-->
<!--
<style>
#loadingWrap {
    width: 100%;
    height: 100vh;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

#loading {
    width: 5em;
    height: 5em;
    border-top: 1em solid rgba(255, 255, 255, 0.2);
    border-right: 1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1em solid rgba(255, 255, 255, 0.2);
    border-left: 1em solid rgba(255, 255, 255, 1);
    animation: loaderAnime 1s infinite linear;
    border-radius: 50%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 11;
}

@keyframes loaderAnime {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loadingNone {
    animation: loadingAnime 1s forwards;
}

@keyframes loadingAnime {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        display: none;
        visibility: hidden;
    }
}
</style>

<script>
  var loadingWrap = document.getElementById('loadingWrap');
    window.addEventListener('load', function () {
      loadingWrap.classList.add('loadingNone');
    });
</script>
-->

<script>
  window.onload = () => {
      const loader = document.getElementById('loader');
      loader.classList.add('loaded');
    }
</script>

<!--
<div id="loader">
  <div class="spinner">
    <div class="cube1"></div>
    <div class="cube2"></div>
  </div>
</div>
-->

<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col">
      <h1 style="margin-top: 0.5%; margin-bottom: 0%; font-size: 150%;"> <a href="/localdb/"
          style="color:rgba(0, 0, 0, 0.648);">Top Page</a> > <a href="/localdb/components"
          style="color:rgba(0, 0, 0, 0.648);">Component List</a>
        > <a href='{{ url_for('component_api.show_component', id=doc['_id'], collection='component' ) }}'
          style="color:rgba(0, 0, 0, 0.648);">Component</a>
          {% if "upload" in doc['stage'] %}
            > <a href='{{ url_for('component_api.result_transceiver', module=doc['mname'], stage='select' ) }}' style="color:rgba(0, 0, 0, 0.648);">Upload/Download results</a> > Upload results
          {% elif "download" in doc['stage'] %}
            > <a href='{{ url_for('component_api.result_transceiver', module=doc['mname'], stage='select' ) }}' style="color:rgba(0, 0, 0, 0.648);">Upload/Download results</a> > Download results
          {% else %}
            > Upload/Download results
          {% endif %}
      </h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col">

      <h1>Upload/Download QC-test results to/from ITkPD</h1>
      {% if doc['mname'] %}
        <h2>Module SN: {{ doc['mname'] }}</h2>
      {% endif %}

    </div>
  </div>
<br>

{% if doc['stage'] == "select" %}
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">

        <h4>Please select upload/download.</h4>
        <form style="margin-bottom: 0px;" class="form-holizontal" name="formA" role="form" method="post" action="{{ url_for('component_api.result_transceiver', module=doc['mname'], stage=doc['stage'] ) }}" accept-charset="UTF-8">
          <h3 style="margin-left: 10px; margin-top: 15px;"><a href="javascript:void(0)" onclick="document.formA.submit();return false;"><i class="fa fa-upload "></i> Upload tests locally signed-off to ITkPD</a></h3>
          <input type=hidden name="stage" value="upload_input">
        </form>
        <form class="form-holizontal" name="formB" role="form" method="post" action="{{ url_for('component_api.result_transceiver', module=doc['mname'], stage=doc['stage'] ) }}" accept-charset="UTF-8">
          <h3 style="margin-left: 10px;"><a href="javascript:void(0)" onclick="document.formB.submit();return false;"><i class="fa fa-download "></i> Download past stages' tests from ITkPD</a></h3>
          <input type=hidden name="stage" value="download_input">
        </form>

        <h5><a href='{{ url_for('component_api.show_component', id=doc['_id'], collection='component' ) }}'>Back to the component page</a></h5>

      </div>
    </div>
  </div>

{% elif doc['stage'] == "upload_input" %}
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">

        <form class="form-holizontal" role="form" method="post" action="{{ url_for('component_api.result_transceiver', module=doc['mname'], stage=doc['stage'] ) }}" accept-charset="UTF-8">
          {% if doc["upload_summary"] %}

          <h3><i class="fa fa-check-circle-o "></i> Please confirm QC results you will upload to ITkPD.</h3>
          <br>
          <h4><i class='fa fa-file'></i> List of QC-test results to upload</h4>
          {% for run in doc["upload_summary"] %}
          <div class="row align-items-top card-body">
            <h5 style="margin-left: 10px;"><i class='fa fa-angle-double-right'></i> {{ run }} </h5>
            <table class="table table-sm table-bordered" style="font-size: 8pt;">
              <thead class="table-light">
                <tr>
                  <th class="text-left">Link </th>
                  <th class="text-left">Test Name </th>
                  <th class="text-left">Stage </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  {% for scan in doc["upload_summary"][run] %}
                  <td align="left">
                    <a
                      href="{{ url_for('component_api.show_component', id=doc['_id'], collection='component', test='qctest' , runId=doc['upload_summary'][run][scan]) }}">{{ doc["upload_summary"][run][scan] }}</a>
                  </td>
                  <td align="left" style="word-wrap:break-word;">{{ scan }}</td>
                  <td align="left">{{run}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% endfor %}
          <hr>

          <h4>Please input 2 access codes for ITkPD.</h4>
          <h4>If you push the button, you will upload all selected results for this module.</h4>
          <h4 style="color: red">*Only Institute Authority can upload.</h4><br>
          <div class="form-group row">
            <label class="col-form-label col-md-3">Access code 1<font color=#ff0000>*</font></label>
            <div class="col-md-9">
              <input type="password" class="form-control" value="{{ code1 }}" placeholder="Access code 1" name="code1" required="required">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-md-3">Access code 2<font color=#ff0000>*</font></label>
            <div class="col-md-9">
              <input type="password" class="form-control" value="{{ code2 }}" placeholder="Access code 2" name="code2" required="required">
            </div>
          </div>
          {% if not doc["text"] == '' %}
          <div class="form-group row">
            <label class="col-form-label col-md-3"></label>
            <div class="col-md-9">
              <h5>
                <font color=#ff0000><i class="fa fa-warning "></i> {{ doc["text"] }}</font>
              </h5>
            </div>
          </div>
          {% endif %}

          <div class="form-group row">
            <div class="col-form-label col-md-3"></div>
            <div class="col-md-9">
    	        <button type="submit" class="btn btn-primary" name="stage" value="upload_complete">Upload results</button>
              <div id="overlay">
                <div class="cv-spinner">
                  <span class="spinner"></span>
                </div>
              </div>
            </div>
          </div>

          {% else %}
          <h4>There is no result you can upload</h4>
          {% if doc['uploaded_stage'] %}
          <h4>Someone already uploaded QC results for {% for item in doc['uploaded_stage'] %}<i class="fa fa-check-circle-o "></i> {{item}} {% endfor %} </h4>
          {% endif %}
          <h4>Please sign-off a stage</h4>
          {% endif %}
        </form>
        <h5><a href='{{ url_for('component_api.result_transceiver', module=doc['mname'], stage='select' ) }}'>Back to selection page</a></h5>

      </div>
    </div>
  </div>

{% elif doc['stage'] == "download_input" %}
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">

        <form class="form-holizontal" role="form" method="post" action="{{ url_for('component_api.result_transceiver', module=doc['mname'], stage=doc['stage'] ) }}" accept-charset="UTF-8">
          <h4>Please input 2 access codes for ITkPD.</h4>
          <h4>If you push the button, you will download results for this module stored in ITkPD.</h4>
          <h4><font color=#ff0000><i class="fa fa-clock-o "></i> It takes 1-5 min to download results. Please wait a moment...</font></h4><br>
          <div class="form-group row">
            <label class="col-form-label col-md-3">Access code 1<font color=#ff0000>*</font></label>
            <div class="col-md-9">
              <input type="password" class="form-control" value="{{ code1 }}" placeholder="Access code 1" name="code1" required="required">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-md-3">Access code 2<font color=#ff0000>*</font></label>
            <div class="col-md-9">
              <input type="password" class="form-control" value="{{ code2 }}" placeholder="Access code 2" name="code2" required="required">
            </div>
          </div>
          {% if not doc["text"] == '' %}
          <div class="form-group row">
            <label class="col-form-label col-md-3"></label>
            <div class="col-md-9">
          <h5><font color=#ff0000><i class="fa fa-warning "></i> {{ doc["text"] }}</font></h5>
          </div>
          </div>
          {% endif %}

          <div class="form-group row">
            <div class="col-form-label col-md-3"></div>
          <div class="col-md-9">
    	      <button type="submit" class="btn btn-primary" name="stage" value="download_complete">Download results</button>
          </div>
          </div>

        </form>
        <br>
        <h5><a href='{{ url_for('component_api.result_transceiver', module=doc['mname'], stage='select' ) }}'>Back to selection page</a></h5>

      </div>
    </div>
  </div>

{% elif doc['stage'] == "upload_complete" %}
<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col">
      <h3>Uploading process is running on background!</h3>
      <h3><a href='https://uuappg01-eu-w-1.plus4u.net/ucl-itkpd-maing01/dcb3f6d1f130482581ba1e7bbe34413c/myTests' target="_blank" rel="noopener noreferrer">You can check the uploaded results in ITkPD</a></h3>

      <h5><a href='{{ url_for('component_api.show_component', id=doc['_id'], collection='component' ) }}'>Back to the component page</a></h5>
    </div>
  </div>
</div>

{% elif doc['stage'] == "download_complete" %}
<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col">
      {% if doc["download_list"] != [] %}
      <h3> Download has finished!</h3>
      <h4><i class='fa fa-file'></i> List of downloaded QC-test results</h4>
      <div class="row align-items-top card-body">
        <table id="qcTable" class="table table-sm table-hover table-bordered" style="font-size: 8pt;">
          <thead>
            <tr>
              <th class="text-left">Link </th>
              <th class="text-left">Test Name </th>
              <th class="text-left">Stage </th>
              <th class="text-left">Date </th>
            </tr>
          </thead>
          <tbody>
            {% for run in doc["download_list"] %}
            <tr>
              <td align="left">
                <a
                  href="{{ url_for('component_api.show_component', id=doc['_id'], collection='component', test='qctest' , runId=run['_id']) }}">{{ run['_id'] }}</a>
              </td>
              <td align="left" style="word-wrap:break-word;">{{ run['testType'] }}</td>
              <td align="left">{{ run['stage'] }}</td>
              <td align="left">{{ run['date'] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      {% if doc["download_list"] %}
      <h4><i class='fa fa-file'></i> Associated scans for QC-test results</h4>
      {% endif %}
      {% for run in doc["download_list"] %}
        {% if run["scans"]["scans"] %}
          <div class="row align-items-top card-body">
          <h5 style="margin-left: 10px;"><i class='fa fa-angle-double-right'></i> {{ run["testType"] }}: {{run["stage"]}}</h5>
            <table class="table table-sm table-bordered" style="font-size: 8pt;">
              <thead class="table-light">
                <tr>
                  <th class="text-left">Link </th>
                  <th class="text-left">Scan Name </th>
                  <th class="text-left">Stage </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  {% for scan in run["scans"]["scans"] %}
                  <td align="left">
                    <a
                      href="{{ url_for('component_api.show_component', id=doc['_id'], collection='component', test='electrical' , runId=scan['runId']) }}">{{scan['runId'] }}</a>
                  </td>
                  <td align="left" style="word-wrap:break-word;">{{ scan['name'] }}</td>
                  <td align="left">{{ run['stage'] }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% endif %}
      {% endfor %}
      {% else %}
        <h3> All results stored in ITkPD already exist in LocalDB. </h3>
      {% endif %}
      <br>
      <h5><a href='{{ url_for('component_api.show_component', id=doc['_id'], collection='component' ) }}'>Back to the component page</a></h5>
    </div>
  </div>
</div>


{% endif %}

</div>
<br>

{% endblock %}
