      <h5>Please select one result for each module properties.</h5>
          {% for testtype in table_docs["prop"] %}
          {% set outer_loop = loop %}
            <h4>{{ testtype }}</h4>

          {% if table_docs["pstage"] == "input" %}
          <table class="table table-sm toppage" style="font-size: 10pt;">
            <thead class="table-light">
              <tr>
                <th scope="col" rowspan=2>Module Name</th>
                <th scope="col" colspan=6>Test Data</th>
                <th scope="col" colspan=1 rowspan=2>Tag</th>
                <th scope="col" colspan=1 rowspan=2>Select</th>
              </tr>
              <tr>
                <th scope="col">Stage</th>
                <th scope="col">Test Type</th>
                <th scope="col">User</th>
                <th scope="col">Site</th>
                <th scope="col">Date</th>
                <th scope="col">Link</th>
              </tr>
            </thead>
          {% for run_data in table_docs["prop_run"] %}
          {% if run_data['run_data']["testType"] == testtype %}
            <tbody>
                <tr>
                    <td style="word-wrap:break-word;">{{ run_data['run_data']["component"] }}</td>
                    <td style="word-wrap:break-word;">{{ run_data['run_data']["stage"] }}</td>
                    <td style="word-wrap:break-word;">{{ run_data['run_data']["testType"] }}</td>
                    <td style="word-wrap:break-word;">{{ run_data['run_data']["user"] }}</td>
                    <td style="word-wrap:break-word;">{{ run_data['run_data']["site"] }}</td>
                    <td style="word-wrap:break-word;">{{ run_data['run_data']["datetime"] }}</td>
                    <td style="word-wrap:break-word;">
                      <a href="{{ url_for('component_api.show_component', id=table_docs['_id'], collection='component', test='property' , runId=run_data['run_data']['_id']) }}">result page</a>
                    </td>
                    <td style="word-wrap:break-word;">
                      {% for tag in run_data['run_data']['testRun_tag'] %}
                        <div>{{ tag['name'] }}</div>
                      {% endfor %}
                    </td>
                    <td style="word-wrap:break-word;">
                      <div class="form-group row">
                        <div class="col-md-10">
                          <input type="radio" name="{{ testtype }}_id" value="{{ run_data['run_data']['_id'] }}" required="required" checked>
                        </div>
                      </div>
                    </td>
                </tr>
            {% endif %}
            {% endfor %}
            </tbody>
          </table>
          {% elif table_docs["pstage"] == "confirm" %}
          <input type="hidden" value="{{ table_docs["prop_run"][loop.index0]["run_data"]["_id"] }}" name="selectprop">
          <table class="table table-sm toppage" style="font-size: 10pt;">
            <thead class="table-light">
              <tr>
                <th scope="col" rowspan=2>Module Name</th>
                <th scope="col" colspan=6>Test Data</th>
                <th scope="col" colspan=1 rowspan=2>Tag</th>
              </tr>
              <tr>
                <th scope="col">Stage</th>
                <th scope="col">Test Type</th>
                <th scope="col">User</th>
                <th scope="col">Site</th>
                <th scope="col">Date</th>
                <th scope="col">Link</th>
              </tr>
            </thead>
            <tbody>
              {% for run_data in table_docs["prop_run"] %}
                {% if run_data['run_data']["testType"] == testtype %}
                <tr>
                    <td style="word-wrap:break-word;">{{ run_data['run_data']["component"] }}</td>
                    <td style="word-wrap:break-word;">{{ run_data['run_data']["stage"] }}</td>
                    <td style="word-wrap:break-word;">{{ run_data['run_data']["testType"] }}</td>
                    <td style="word-wrap:break-word;">{{ run_data['run_data']["user"] }}</td>
                    <td style="word-wrap:break-word;">{{ run_data['run_data']["site"] }}</td>
                    <td style="word-wrap:break-word;">{{ run_data['run_data']["datetime"] }}</td>
                    <td style="word-wrap:break-word;">
                      <a href="{{ url_for('component_api.show_component', runId=run_data['run_data']["_id"], collection='chip') }}">result page</a>
                    </td>
                    <td style="word-wrap:break-word;">
                      {% for tag in run_data['run_data']['testRun_tag'] %}
                        <div>{{ tag['name'] }}</div>
                      {% endfor %}
                    </td>
                </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>

          {% endif %}
          {% endfor %}
