<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col">

      {{ table_docs }}

    {% if not table_docs["text"] == '' %}
      <p><div class="col-md-2"></div><div class="col-md-10"><font color=#ff0000>{{ table_docs["text"] }}</font></div></p>
    {% endif %}

      {% if table_docs['total']!=0 %}
        <h5>Please select one result for each test items.</h5>
        <form class="form-holizontal" role="form" method="post" action="{{ url_for('component_api.analyze_scan', id=table_docs['_id'], stage=table_docs['stage'], test=table_docs['test']) }}" accept-charset="UTF-8">
        {% for scantype in table_docs["scans"]["scantypes"]%}
        {% set outer_loop = loop %}
        <h3><i class="fa fa-caret-right"></i>{{ scantype }}</h3>
          {% for item in [1, 2, 3, 4] %}
          {% if table_docs["pstage"] == "input" %}
          <table class="table table-sm toppage" style="font-size: 10pt;">
            <thead class="table-light">
              <tr>
                <th scope="col" rowspan=2>run Number</th>
                <th scope="col" colspan=6>Test Data</th>
                <th scope="col" colspan=1 rowspan=2>Tag</th>
                <th scope="col" colspan=1 rowspan=2>Select</th>
              </tr>
              <tr>
                <th scope="col">Stage</th>
                <th scope="col">Test Type</th>
                <th scope="col">User</th>
                <th scope="col">Site</th>
                <th scope="col">Date</th>
                <th scope="col">Link</th>
              </tr>
            </thead>
            <tbody>

              {% for run_data in table_docs["run"] %}
                {% if run_data['run_data']["testType"] == table_docs["scans"]["scantypes"][outer_loop.index0] %}
                {% if run_data['run_data']['components'][item]['enabled'] %}
                {% if run_data['run_data']['plots'] %}
                <tr>
                {% else %}
                <tr style="background: #AABBCC;">
                {% endif %}
                    <td style="word-wrap:break-word;">{{ run_data['run_data']["runNumber"] }}</td>
                    <td style="word-wrap:break-word;">{{ run_data['run_data']["stage"] }}</td>
                    <td style="word-wrap:break-word;">{{ run_data['run_data']["testType"] }}</td>
                    <td style="word-wrap:break-word;">{{ run_data['run_data']["user"] }}</td>
                    <td style="word-wrap:break-word;">{{ run_data['run_data']["site"] }}</td>
                    <td style="word-wrap:break-word;">{{ run_data['run_data']["datetime"] }}</td>
                    <td style="word-wrap:break-word;">
                      <a href="{{ url_for('component_api.show_component', runId=run_data['run_data']["_id"], collection='chip') }}">result page</a>
                    </td>
                    <td style="word-wrap:break-word;">
                      {% for tag in run_data['run_data']['testRun_tag'] %}
                        <div>{{ tag['name'] }}</div>
                      {% endfor %}
                    </td>
                    <td style="word-wrap:break-word;">
                      <div class="form-group row">
                        <div class="col-md-10">
                          <input type="radio" name="{{ item }}_id" value="{{ run_data['run_data']['_id'] }}" required="required">
               		      </div>
               		    </div>
                    </td>
                </tr>
                {% endif %}
                {% endif %}
              {% endfor %}
            </tbody>
          </table>

          {% elif table_docs["pstage"] == "source_confirm" or table_docs["pstage"] == "edit" %}
          <h4><i class="fa fa-file-photo-o "></i> Chip{{item}}</h4>
          <input type="hidden" value="{{ table_docs["run"]["results"]["scans"][item-1]["runId"] }}" name="selectinfo">
          <table class="table table-sm toppage" style="font-size: 10pt;">
            <thead class="table-light">
              <tr>
                <th scope="col">Test Type</th>
                <th scope="col">run Number</th>
                <th scope="col">Test Date</th>
                <th scope="col">Setting Temperature around Module Ntc</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="word-wrap:break-word;">{{ table_docs["run"]["results"]["scans"][item-1]["testType"] }}</td>
                <td style="word-wrap:break-word;">{{ table_docs["run"]["results"]["scans"][item-1]["runId"] }}</td>
                <td style="word-wrap:break-word;">{{ table_docs["run"]["results"]["scans"][item-1]["time"] }}</td>
                <td style="word-wrap:break-word;">{{ table_docs["run"]["results"]["scans"][item-1]["temp"] }}</td>
              </tr>
            </tbody>
          </table>


          {% endif %}
          {% endfor %}
        {% endfor %}

        <br>
        <br>

        <div class="col-md-12">
        {% if table_docs["pstage"] == "input" %}
          <button type="submit" class="btn btn-primary btn-block" name="pstage" value="source_confirm">Proceed</button>
        {% elif table_docs["pstage"] == "source_confirm" %}
          <button type="submit" class="btn btn-primary btn-block" name="pstage" value="source_complete">Register</button>
          <button type="submit" class="btn btn-primary btn-block" name="pstage" value="input">Back page</button>
        {% elif table_docs["pstage"] == "edit" %}
          <h3>Do you delete this commit ?</h3>
          <button type="submit" class="btn btn-primary btn-block" name="pstage" value="delete">Delete</button>
        {% endif %}
        </div>
        </form>

      {% endif %}
    </div>
  </div>
</div>
