<style>
table.toppage {
  table-layout: fixed;
}
table.toppage th {
  text-align: center;
  vertical-align: middle;
}
table.toppage td {
  text-align: center;
  vertical-align: middle;
  border: 2px dotted #e1e1e1;
}
table.toppage td.border_inner {
  border-right-width: 2px;
  border-right-style: dotted;
  border-right-color: #e1e1e1;
}
</style>
{% extends "layout.html" %}    <!-- これで元になるHTML(laytout.html)を指定 -->

{% block body %}    <!-- layout.htmlのbodyというブロックを以下で置き換える -->

<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col">
      <h1 style="margin-top: 0.5%; margin-bottom: 0%; font-size: 150%;"> <a href="/localdb/"
          style="color:rgba(0, 0, 0, 0.648);">Top Page</a> > <a href="/localdb/components"
          style="color:rgba(0, 0, 0, 0.648);">Component List</a>
        > <a href='{{ url_for('component_api.show_component', id=table_docs['_id'], collection='component' ) }}'
          style="color:rgba(0, 0, 0, 0.648);">Component</a> > Selection Page
      </h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col">

      <h1>Selection Page</h1>

    </div>
  </div>
</div>

<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col">

      {% if table_docs["pstage"]!='complete' and table_docs["pstage"]!='delete' %}
        <h2><font color=#000080><i class="fa fa-arrow-right"></i>{{ table_docs['title'] }}</font></h2>
        <h3><b> Component: {{ table_docs['mname'] }} </b></h3>
        <h3><b> Current Stage: {{ table_docs['stage'] }} </b></h3>

        {% if table_docs['page']=='analyze_scan' %}
          {% include "select_table.html" %}
          <hr>
        {% endif %}

        {% if table_docs['page']=='source_scan' %}
          {% include "select_source_table.html" %}
          <hr>
        {% endif %}

        {% if table_docs['page']=='select_test' %}
          {% include "select_QC_table.html" %}
          <hr>
        {% endif %}

      {% elif table_docs["pstage"] == 'complete' %}
        {% if table_docs["stage"] ==  'MODULETOPCB' %}
          <h2> The stage is changed to MODULEWIREBONDING. </h2>
          <h2> Please upload selected results to ITkPD. </h2>
          <h3><a href="{{ url_for('component_api.result_transceiver', module=table_docs['mname'], stage='upload_input')}}"><i class="fa fa-upload "></i> Upload/Download QC-test results</a></h3>
          <br>
        {% elif table_docs["stage"] ==  'MODULEWIREBONDING' %}
          <h2> The stage is changed to MODULEPARYLENECOATING. </h2>
          <h2> Please upload selected results to ITkPD. </h2>

          <h2><font color=#ff0000> Please select next stage of MODULEWIREBONDING at following link.</font></h2>
          <h3><a href='{{ url_for('component_api.set_stage', module=table_docs['mname']) }}'><i class="fa fa-gg "></i> Slelect next stage of MODULEWIREBONDING</a></h3>

        {% else %}
          <h2> The scans were registered for QC results </h2>
          {{ table_docs["stege"] }}
        {% endif %}
      {% elif table_docs["pstage"] == 'scancomplete' %}
          <h2> The scans were registered for QC results. </h2>

      {% elif table_docs["pstage"] == 'delete' %}
        <h2> Untaged the QC results of this stage. </h2>
      {% endif %}

      {% if table_docs["pstage"]=='complete' and table_docs['page']=='analyze_scan' %}
        <a href="{{ url_for('component_api.select_test', id=table_docs['_id'], stage=table_docs['stage'])}}"><h4 style="font-size: 12pt;"><i class="fa fa-chevron-right"></i>Sign off QC results for this stage</h4></a>
      {% endif %}
      <h5><a href='{{ url_for('component_api.show_component', id=table_docs['_id'], collection='component') }}'>Back to the component page</a></h5>

    </div>
  </div>
</div>

{% endblock %}
