<style>
table.toppage {
  table-layout: fixed;
}
table.toppage th {
  text-align: center;
  vertical-align: middle;
}
table.toppage td {
  text-align: center;
  vertical-align: middle;
  border: 2px dotted #e1e1e1;
}
table.toppage td.border_inner {
  border-right-width: 2px;
  border-right-style: dotted;
  border-right-color: #e1e1e1;
}
</style>
{% extends "layout.html" %}    <!-- これで元になるHTML(laytout.html)を指定 -->

{% block body %}    <!-- Replace a body in layout.html with the following -->

<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col">
      <h1 style="margin-top: 0.5%; margin-bottom: 0%; font-size: 150%;"> <a href="/localdb/"
          style="color:rgba(0, 0, 0, 0.648);">Top Page</a> > <a href="/localdb/components"
          style="color:rgba(0, 0, 0, 0.648);">Component List</a>
        > <a href='{{ url_for('component_api.show_component', id=doc['_id'], collection='component' ) }}'
          style="color:rgba(0, 0, 0, 0.648);">Component</a> > Change the Production Stage
      </h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col">
      <h1><font color=#000080><i class="fa fa-arrow-right"></i>Change the Production Stage</font></h1>
      <h2><font color=red>*Only change the Stage of LocalDB</font></h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col">

      <form class="form-holizontal" role="form" method="post" action="{{ url_for('component_api.set_stage', module=doc['module']) }}" accept-charset="UTF-8">
        {% if doc["pstage"] == "input" %}
          <h2>Module: {{ doc["module"] }}</h2>
          <h2>Current Stage: {{ doc["cstage"] }}</h2><br>
          <h3> Select Stage </h3>
          <select class="form-control" name="nstage" id=required="required" value="{{ nstage }}">
            <option value="">*** select stage ***</option>
            {% for stage in doc["stages"] %}
              <option value="{{ stage }}">{{ stage }}</option>
            {% endfor %}
          </select>

          <br>
          <div class="col-md-12">
    	      <button type="submit" class="btn btn-primary" name="pstage" value="complete">change stage</button>
          </div>
          <!--<input type="submit" value="complete" name="pstage">-->

          <br>
          {% if doc["text"] == "Please select stage from pull-down menue..." %}
          <h2>
            <font color="red"><i class="fa fa-warning"></i> {{ doc["text"] }}</font>
          </h2>
          {% elif doc["text"] != "" %}
          <h2><font color="blue">{{ doc["text"] }}</font></h2>
          {% endif %}

        {% endif %}
      </form>
      <form class="form-holizontal" role="form" method="post" action="{{ url_for('component_api.show_component', id=doc['_id'], collection='component') }}" accept-charset="UTF-8">
        <button type="submit" class="btn btn-primary" name="pstage" value="complete">Return to the component's page</button>
      </form>
      <!--<h5><a href='{{ url_for('component_api.show_component', id=doc['_id'], collection='component') }}'>Back to the component page</a></h5>-->

    </div>
  </div>
</div>

{% endblock %}
