{% extends "layout.html" %}    <!-- これで元になるHTML(laytout.html)を指定 -->

{% block body %}    <!-- layout.htmlのbodyというブロックを以下で置き換える -->

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <h1 style="margin-top: 0.5%; margin-bottom: 0%; font-size: 150%;"> <a href="/localdb/"
            style="color:rgba(0, 0, 0, 0.648);;">Top Page</a> > Account Creation </h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <h1><font color=#000080><i class="fa fa-user-plus "></i> Account Creation</font></h1>
      </div>
    </div>
  </div>

  {% if stage == "request" %}
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col">
          <h3>Thank you for creating a new user.</h3>
          <div class="row">
            <div class="col" style="margin-left: 1em;">
              The user has been successfully created.<br>
              {% if mail %}
                The invitation message was sent to the registered e-mail address. The user can issue a tempolrally password with the function and will change the password.You don't have to care for the user. <br>
              {% else %}
                You have to issue the password for the user from the link below.
                <a href="{{ url_for('user_api.register_password_from_admin')}}"><h4 style="font-size: 12pt;"><i class="fa fa-cog"></i> Issue password for the LocalDB user </h4></a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div class="container">
          <h3><p>  You can create a new account for LocalDB using this form. </p></h3>
          <font color=#ff0000 size=2">* Required</font>

          <form class="form-holizontal" role="form" method="post" action="signup" accept-charset="UTF-8">
                <div class="form-group row">
           		    <label class="col-form-label col-md-2" for="name">User Name<font color=#ff0000>*</font></label>
                  <div class="col-md-10">
                    {% if stage == "input" %}
           		        <input type="text" pattern="^[0-9A-Za-z]+$" class="form-control" value="{{ userInfo[0] }}" placeholder="Username" name="userinfo" id="name" required="required">
                      Please enter alphanumeric characters.
                    {% elif stage == "confirm" %}
           		        <input type="hidden" value="{{ userInfo[0] }}" name="userinfo">
                      <p>{{ userInfo[0] }}</p>
                    {% endif %}
           		    </div>
                  {% if not nametext == _brank %}
                  <p><div class="col-md-2"></div><div class="col-md-10"><font color=#ff0000>{{ nametext }}</font></div></p>
                  {% endif %}
           		  </div>

                 <div class="form-group row">
           		    <label class="col-form-label col-md-2" for="email">First Name<font color=#ff0000>*</font></label>
                   <div class="col-md-10">
                    {% if stage == "input" %}
           		        <input type="text" pattern="^[0-9A-Za-z]+$" class="form-control" value="{{ userInfo[1] }}" placeholder="First Name" name="userinfo" id="name" required="required">
                    {% elif stage == "confirm" %}
           		        <input type="hidden" value="{{ userInfo[1] }}" name="userinfo">
                      <p>{{ userInfo[1] }}</p>
                    {% endif %}
            		    </div>
           		  </div>

                <div class="form-group row">
           		    <label class="col-form-label col-md-2" for="email">Family Name<font color=#ff0000>*</font></label>
                   <div class="col-md-10">
                    {% if stage == "input" %}
           		        <input type="text" pattern="^[0-9A-Za-z]+$" class="form-control" value="{{ userInfo[2] }}" placeholder="Family Name" name="userinfo" id="name" required="required">
                    {% elif stage == "confirm" %}
           		        <input type="hidden" value="{{ userInfo[2] }}" name="userinfo">
                      <p>{{ userInfo[2] }}</p>
                    {% endif %}
            		    </div>
           		  </div>

                <div class="form-group row">
           		    <label class="col-form-label col-md-2" for="email">Institution<font color=#ff0000>*</font></label>
                   <div class="col-md-10">
                    {% if stage == "input" %}
                      <select class="form-control" name="userinfo" id="collection" required="required" value="{{ userInfo[3] }}">
                        <option value="">*** choose registration site ***</option>
                        {% for address in Address %}
                          <option value="{{ address['institution'] }}">{{ address['institution'] }}</option>
                        {% endfor %}
                        <option value="other">other</option>
                      </select>
           		        <input type="text" class="form-control" value="{{ userInfo[4] }}" placeholder="Institution" name="userinfo" id="name">
                      {% if not nametext3 == _brank %}
                        <p><div class="col-md-2"></div><div class="col-md-10"><font color=#ff0000>{{ nametext3 }}</font></div></p>
                      {% endif %}
                      If you select "other" as institution, please input your institution.
                    {% elif stage == "confirm" %}
           		        <input type="hidden" value="{{ userInfo[3] }}" name="userinfo">
           		        <input type="hidden" value="{{ userInfo[4] }}" name="userinfo">
                      {% if not userInfo[3] == 'other' %}
                        <p>{{ userInfo[3] }}</p>
                      {% else %}
                        <p>{{ userInfo[4] }}</p>
                      {% endif %}
                    {% endif %}
            		    </div>
           		  </div>

           		    <div class="form-group row">
           		    <label class="col-form-label col-md-2">Email<font color=#ff0000>*</font></label>
                    <div class="col-md-10">
                     {% if stage == "input" %}
           		        <input type="text" class="form-control" value="{{ userInfo[5] }}" placeholder="Email" name="userinfo" required="required">
                     {% elif stage == "confirm" %}
           		        <input type="hidden" value="{{ userInfo[5] }}" name="userinfo">
                      <p>{{ userInfo[5] }}</p>
                     {% endif %}
           		      </div>
           		    </div>

           		    <div class="form-group row">
                    {% if stage == "input" %}
           		      <label class="col-form-label col-md-2">Email(Confirm)<font color=#ff0000>*</font></label>
                    {% endif %}
                    <div class="col-md-10">
                      {% if stage == "input" %}
           		          <input type="text" class="form-control" value="{{ userInfo[6] }}" placeholder="Re-Enter your Email" name="userinfo" required="required">
                      {% elif stage == "confirm" %}
           		          <input type="hidden" value="{{ userInfo[6] }}" name="userinfo">
                      {% endif %}
           		      </div>
                    {% if not passtext == _brank %}
                      <p><div class="col-md-2"></div><div class="col-md-10"><font color=#ff0000>{{ passtext }}</font></div></p>
                    {% endif %}
           		    </div>

           		  <div class="form-group row">
                  <div class="col-md-2"></div>
                  <div class="col-md-10">
                  {% if stage == "input" %}
            	        <button type="submit" class="btn btn-primary" name="stage" value="confirm">Proceed</button>
                  {% elif stage == "confirm" %}
            	        <button type="submit" class="btn btn-primary" name="stage" value="request">Register</button>
            	        <button type="submit" class="btn btn-primary" name="stage" value="input">Back page</button>
                  {% endif %}
                  </div>
                </div>
          </form>

    </div>
  {% endif %}

<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col">
      <a href="/localdb/">Back to Top Page</a>
    </div>
  </div>
</div>

<br>
{% endblock %}
