<h2><i class="fa fa-cog"></i> Records of Past Stages</h2>

<div class="row align-items-top">
  <div class="col">
    {% for stage in component["summary"] %}
    <h4><i class="fa fa-chevron-right"></i> {{ stage }}:
      {% if not component["upload_status"][stage] %}
        <font style="color:rgb(255, 0, 0);">Not signed-off <i class="fa fa-frown-o "></i></font>
      {% elif component["upload_status"][stage] == "0" or component["upload_status"][stage] == "1" %}
        <font style="color:rgb(11, 203, 24);">Complete <i class="fa fa-smile-o "></i></font>
      {% else %}
        <font style="color:rgb(244, 183, 0);">Not uploaded to ITkPD &raquo;</font> <a href="{{ url_for('component_api.result_transceiver', module=component["info"]["name"], stage='select' )}}"><button
            type="button" class="btn btn-outline-warning btn-sm">Upload/Download results</button></a>
      {% endif %}
    </h4>
    <table class="table table-sm table-bordered" style="font-size: 7pt;">
      <thead class="table-light">
        <tr>
          {% for test in component["summary"][stage] %}
          <th scope="col" class="text-center">{{ test }}
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for test in component["summary"][stage] %}
            {% if component["summary"][stage][test] == "-1" %}
            <td align="center" style="word-wrap:break-word; background-color:rgba(255, 204, 204, 0.75);">
              No result
            </td>
            {% else %}
            {% if component["upload_status"][stage] == '0' or component["upload_status"][stage] == '1' %}
            <td align="center" style="word-wrap:break-word; background-color:rgba(204, 255, 223, 0.75);">
              <a href="{{ url_for('component_api.show_component', id=component['_id'], collection=component['collection'], test='qctest', runId=component['summary'][stage][test]) }}"><i class="fa fa-external-link "></i></a>
            </td>
            {% else %}
            <td align="center" style="word-wrap:break-word; background-color:rgba(255, 242, 204, 0.75);">
              <a href="{{ url_for('component_api.show_component', id=component['_id'], collection=component['collection'], test='qctest', runId=component['summary'][stage][test]) }}"><i class="fa fa-external-link "></i></a>
            </td>
            {% endif %}
            {% endif %}
          {% endfor %}
        </tr>
      </tbody>
    </table>
    {% endfor %}
  </div>
</div>

<hr>
