<style>
table.toppage {
  table-layout: fixed;
}
table.toppage th {
  text-align: center;
  vertical-align: middle;
}
table.toppage td {
  text-align: center;
  vertical-align: middle;
  border: 2px dotted #e1e1e1;
}
table.toppage td.border_inner {
  border-right-width: 2px;
  border-right-style: dotted;
  border-right-color: #e1e1e1;
}
</style>
{% extends "layout.html" %}    <!-- これで元になるHTML(laytout.html)を指定 -->

{% block body %}    <!-- layout.htmlのbodyというブロックを以下で置き換える -->

<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col">

      <h1>Upload selected results to ITk production DB</h1>

    </div>
  </div>
</div>

<br>

{% if stage == "complete" or stage == "waiting" %}
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">
  
        <h4>Uploading process has started. Please check the current status by looking at the table bellow.</h4>
        <a href="{{ url_for('user_api.upload_result')}}"><h6 style="font-size: 12pt;"> Update the table </h6></a>
  
      </div>
    </div>
  </div>

{% else %}
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">
  

        <form class="form-holizontal" role="form" method="post" action="{{ url_for('user_api.upload_result') }}" accept-charset="UTF-8">
          <div class="form-group row">
            <label class="col-form-label col-md-3">Access code 1<font color=#ff0000>*</font></label>
            <div class="col-md-9">
              <input type="password" class="form-control" value="{{ code1 }}" placeholder="Access code 1" name="code1" required="required">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-md-3">Access code 2<font color=#ff0000>*</font></label>
            <div class="col-md-9">
              <input type="password" class="form-control" value="{{ code2 }}" placeholder="Access code 2" name="code2" required="required">
            </div>
          </div>
          {% if not text == '' %}
          <p><div class="col-md-2"></div><div class="col-md-10"><font color=#ff0000>{{ text }}</font></div></p>
          {% endif %}

          <div class="col-md-12">
    	  <button type="submit" class="btn btn-primary btn-block" name="stage" value="complete">Upload results</button>
          </div>
  
        </form>
  
      </div>
    </div>
  </div>
{% endif %}

<br>

<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col">
      <h4> Module's List for which test results are selected</h4> 
      [Meaning of each status] 
      <br>
      "ready": Waiting for uploading to prodDB
      <br>
      "uploading": Uploading to prodDB just now
      <br>
      "unmatched": Failed to upload in the last attempt because of stage's matching. Try again after the stage is matched.
      <br>
      "complete": Already uploaded to prodDB  
      <table class="table table-sm toppage" style="font-size: 10pt;">
        <thead class="table-light">
          <tr>
            <th scope="col">Module name</th>
            <th scope="col">Stage</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          {% for test in tests %}
            <tr>
              <td style="word-wrap:break-word;">{{ test["component_name"] }}</td>
              <td style="word-wrap:break-word;">{{ test["stage"] }}</td>
              <td style="word-wrap:break-word;">{{ test["status"] }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>


<br>
{% endblock %}

