.colorfilter-image {
    opacity: 0.5;    /* カラーフィルタ効果の度合いを指定(※) */
    display: block;
}

.parent1{
    position:absolute;
    z-index:0;
}

.inner1{
    position:absolute;
    z-index:1;
    top:0px;
    left:0px;
}
.inner2{
    position:absolute;
    z-index:2;
    top:0px;
    left:35px;
}
.inner3{
    position:absolute;
    z-index:3;
    top:0px;
    left:70px;
}
.inner4{
    position:absolute;
    z-index:4;
    top:0px;
    right:70px;
}
.inner5{
    position:absolute;
    z-index:5;
    top:0px;
    right:35px;
}
.inner6{
    position:absolute;
    z-index:6;
    top:0px;
    right:0px;
}

.inner7{
    position:absolute;
    z-index:7;
    top:35px;
    left:0px;
}
.inner8{
    position:absolute;
    z-index:8;
    top:35px;
    left:35px;
}
.inner9{
    position:absolute;
    z-index:9;
    top:35px;
    left:70px;
}
.inner10{
    position:absolute;
    z-index:10;
    top:35px;
    right:70px;
}
.inner11{
    position:absolute;
    z-index:11;
    top:35px;
    right:35px;
}
.inner12{
    position:absolute;
    z-index:12;
    top:35px;
    right:0px;
}

.inner13{
    position:absolute;
    z-index:13;
    top:70px;
    left:0px;
}
.inner14{
    position:absolute;
    z-index:14;
    top:70px;
    left:35px;
}
.inner15{
    position:absolute;
    z-index:15;
    top:70px;
    left:70px;
}
.inner16{
    position:absolute;
    z-index:16;
    top:70px;
    right:70px;
}
.inner17{
    position:absolute;
    z-index:17;
    top:70px;
    right:35px;
}
.inner18{
    position:absolute;
    z-index:18;
    top:70px;
    right:0px;
}

.inner19{
    position:absolute;
    z-index:19;
    bottom:70px;
    left:0px;
}
.inner20{
    position:absolute;
    z-index:20;
    bottom:70px;
    left:35px;
}
.inner21{
    position:absolute;
    z-index:21;
    bottom:70px;
    left:70px;
}
.inner22{
    position:absolute;
    z-index:22;
    bottom:70px;
    right:70px;
}
.inner23{
    position:absolute;
    z-index:23;
    bottom:70px;
    right:35px;
}
.inner24{
    position:absolute;
    z-index:24;
    bottom:70px;
    right:0px;
}

.inner25{
    position:absolute;
    z-index:25;
    bottom:35px;
    left:0px;
}
.inner26{
    position:absolute;
    z-index:26;
    bottom:35px;
    left:35px;
}
.inner27{
    position:absolute;
    z-index:27;
    bottom:35px;
    left:70px;
}
.inner28{
    position:absolute;
    z-index:28;
    bottom:35px;
    right:70px;
}
.inner29{
    position:absolute;
    z-index:29;
    bottom:35px;
    right:35px;
}
.inner30{
    position:absolute;
    z-index:30;
    bottom:35px;
    right:0px;
}

.inner31{
    position:absolute;
    z-index:31;
    bottom:0px;
    left:0px;
}
.inner32{
    position:absolute;
    z-index:32;
    bottom:0px;
    left:35px;
}
.inner33{
    position:absolute;
    z-index:33;
    bottom:0px;
    left:70px;
}
.inner34{
    position:absolute;
    z-index:34;
    bottom:0px;
    right:70px;
}
.inner35{
    position:absolute;
    z-index:35;
    bottom:0px;
    right:35px;
}
.inner36{
    position:absolute;
    z-index:36;
    bottom:0px;
    right:0px;
}


