<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="description" content="">

  <meta name="keywords" content="">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600|Montserrat:200,300,400">

  <link rel="stylesheet" href="static/assets/fonts/ionicons/css/ionicons.min.css">
  <link rel="stylesheet" href="static/assets/fonts/fontawesome/css/font-awesome.min.css">

  <link rel="stylesheet" href="static/assets/css/bootstrap.min.css">

  <link rel="stylesheet" href="static/assets/css/slick.css">
  <link rel="stylesheet" href="static/assets/css/slick-theme.css">


  <link href="static/tablesorter-master/docs/css/jq.css" rel="stylesheet">
  <link href="static/tablesorter-master/dist/css/theme.bootstrap_4.css" rel="stylesheet">

</head>
