<style>
.dropdown-menu.left {
  left:auto;
  right:0;
  &::before {left:auto !important; right:9px;}
  &::after {left:auto !important; right:10px;}
}
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <div class="navbar-brand"><a href="/localdb/"><img width=150 src="./static/images/logo.png"></img></a></b></div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggle-icon"></span>
    </button>

    <div class="navbar-brand">
    <ul class="nav navbar-nav mr-auto">
    <b>
      <li style="display: inline-block; margin-right: 2pt; font-size: 12pt;"><a href="/localdb/">TOP</a></li>
      <li style="display: inline-block; margin-right: 2pt; font-size: 12pt;"> | </li>
      <li style="display: inline-block; margin-right: 2pt; font-size: 12pt;"><a href="/localdb/components">COMPONENTS</a></li>
      <li style="display: inline-block; margin-right: 2pt; font-size: 12pt;"> | </li>
      <li style="display: inline-block; margin-right: 2pt; font-size: 12pt;"><a href="/localdb/scan">SCANS</a></li>
    </b>
    </ul>
    </div>

    <!--div class="collapse navbar-collapse" id="navbarSupportedContent"-->
    <div class="navbar-brand collapse navbar-collapse">
      <ul class="nav navbar-nav mr-auto">
      </ul>
      <ul class="nav navbar-nav" style="font-size: 12pt;">
          <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown">
              <b><i class="fa fa-globe"></i> {{ session['timezone'] }}</b>
              <span class="caret"></span>
            </a>
            <ul id="login-dp" class="dropdown-menu left" style="width:250px;">
              <li>
                <div class="row align-items-center justify-content-center">
                  <div class="col-md-10">
                    <center><b>Choose Timezone</center></b><br>
                      <form class="form" role="form" method="post" action="set_time" accept-charset="UTF-8">
                      <div class="form-group">
                        <select class="tz-select" name="timezone" id="timezone" style="width:200px;" size="12">
                        {% for timezone in timezones %}
                          <option> {{ timezone }} </option>
                        {% endfor %}
                        </select>
                      </div>
                      <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block" style="width:200px;">Save</button>
                      </div>
                    </form>
                  </div>
                </div>
              </li>
            </ul>
          </li>
      </ul>
        <ul> </ul>
        <ul class="nav navbar-nav" style="font-size: 12pt;">
          {% if session['logged_in'] %}
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">
                <b><i class="fa fa-user"></i> {{ session['username'] }}</b>
                <span class="caret"></span>
              </a>
              <ul id="login-dp" class="dropdown-menu left" style="width:250px;">
                <li>
                  <div class="row align-items-center justify-content-center">
                    <div class="col-md-10">
                      <center><b>{{ session['username'] }}</center></b><br>
                      <div class="form-group">
                        <center><a href="{{ url_for('user_api.logout') }}"><button type="submit" class="btn btn-primary btn-block">Sign out</button></a></center>
                      </div>
                      <div class="form-group">
                        <center><a href="{{ url_for('user_api.register_password') }}">Set/Reset your password</a></center>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
          {% else %}
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">
                <b><i class="fa fa-user"></i> Sign in</b>
                <span class="caret"></span>
              </a>
              <ul id="login-dp" class="dropdown-menu left" style="width:250px;">
                <li>
                  <div class="row align-items-center justify-content-center">
                    <div class="col-md-10">
                      <center><b>Go to local user page</center></b><br>
                      <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                        <div class="form-group">
                          <input type="text" class="form-control" value="" placeholder="username" name="username">
                          <label class="sr-only" for="login-name"></label>
                        </div>
                        <div class="form-group">
                          <input type="password" class="form-control" value="" placeholder="password" name="password">
                          <label class="sr-only" for="login-pass"></label>
                        </div>
                        <div class="form-group">
                          <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                        </div>
                      </form>
                      <div class="form-group">
                        <center><a href="{{ url_for('user_api.register_password') }}">Set/Reset your password</a></center>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
          {% endif %}
        </ul>
    </div>
  </div>
</nav>
